<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.moreno.places">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBgiri7jGEAiEb7FHoRabseEqdp3Cp0xrY"/>

        <activity
            android:name=".components.root.RootActivity"
            android:icon="@drawable/app_icon">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".components.details.PlaceDetailsActivity"
            android:parentActivityName=".components.root.RootActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".components.root.RootActivity" />
        </activity>
    </application>
</manifest>
